{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>
  var url = window.location.href;
  
  // setting up the canvas and one paper tool
  var canvas = document.getElementById('myCanvas');
  paper.setup(canvas);

  var colors = [ 'silver', 'gray', 'black', 'red', 'maroon', 'yellow', 'olive', 'lime', 'green', 'aqua', 'teal', 'blue', 'navy', 'fuchsia', 'purple' ];
  var color = colors[Math.floor(Math.random() * colors.length)];
    
  var path = new paper.Path();
  path.strokeColor = color;
  path.strokeWidth = 10; 
  
  var paths = {};
  paths[color] = path;

  // create a new websocket connecting to the server
  var socket = new WebSocket('ws://p4-jusliu-jusliu260153.codeanyapp.com:8765/');
  
  var tool = new paper.Tool();
  tool.onMouseMove = function (event) {
      path.add(event.point);
      socket.send(color + " " + event.point.x + " " + event.point.y);
  }
  
  window.addEventListener('devicemotion', function(event) {
    if (event.acceleration.x > 50) {
      for (p in paths) {
        paths[p].removeSegments();
      }
    }
  });
  
  window.addEventListener('deviceorientation', function(event) {
    if (event.gamma > 80) {
      var newColor = colors[Math.floor(Math.random() * colors.length)];
      path = new paper.Path();
      path.strokeColor = newColor;
      path.strokeWidth = 10;
      paths[newColor] = path;
    }
  });


  // triggered when receiving a message from the server
  socket.onmessage = function(receivedMessage) {
    if (url.indexOf("large") > -1) {
      var receivedColor = receivedMessage.data.split(" ")[0]
      var x = parseFloat(receivedMessage.data.split(" ")[1]);
      var y = parseFloat(receivedMessage.data.split(" ")[2]);
      var point = new paper.Point(x, y);

      if (!paper.project.hitTest(point)) {
        if (receivedColor in paths) {
          paths[receivedColor].add(point);
        } else {
          var newPath = new paper.Path();
          newPath.strokeColor = receivedColor;
          newPath.strokeWidth = 10;
          paths[receivedColor] = newPath;
          newPath.add(point);
        }
      }
    }
  };

  // notify console if socket closes unexpectedly
  socket.onclose = function(e) {
      console.error('Chat socket closed unexpectedly');
  };
</script>
</html>